body
    font-family ProximaNova
    color $text-gray
    background-color #fff
    margin 0

button
    margin 5px
    box-sizing border-box
    cursor pointer
    font bold 12pt ProximaNova, sans-serif
    border 0
    background-color #fff
    color $tint-blue
    padding 0.5em 1em
    transition color 100ms, background-color 100ms

    &.small
        font-size 9pt
    &.large
        font-size 15pt

    &:hover
        background-color $light-blue
        color #fff

.main-page
    width 1040px
    margin 0 auto
