.dashboard
    .upload-section
        animation slidefadein 500ms
        text-align center
        width 900px
        margin 0 auto

        .dropzone
            font-size 50pt
            margin 20px auto
            &:hover i
                font-size 60pt

        .preview
            img
                width 100%

        .form-default
            margin-top 20px
            width 600px
            padding 20px

        button
            margin-top 20px

    .dashboard-section
        .more
            float right

.sorter
    float right
    font normal 11pt ProximaNova, sans-serif
    cursor pointer
    color #888
    text-align right
    height 29px
    width 150px
    margin 4px 0

    .list
        top 0
        right 0
        padding 0 14px
        z-index 1
        box-sizing border-box
        width 150px
        transition background-color 200ms, color 200ms
        div
            margin 7px 0

    &:not(.open):hover .list
        color #fff
        background-color #000

    &.open .list
        background-color #000
        color #ccc
        & > div:hover
            color #fff

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slidefadein
    0%
        max-height 52px
        opacity 0
    50%
        max-height 100%
        //opacity 0
    100%
        opacity 1
