.dashboard
    .upload-section
        animation slidefadein 500ms
        text-align center
        width 900px
        margin 0 auto

        .dropzone
            font-size 50pt
            margin 20px auto
            &:hover i
                font-size 60pt

        .preview
            img
                width 100%

        .form-default
            margin-top 20px
            width 600px
            padding 20px

        button
            margin-top 20px

    .dashboard-section
        .more
            float right
    .sort
        font normal 12pt ProximaNova, sans-serif
        line-height 1.3em
        float right

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slidefadein
    0%
        max-height 52px
        opacity 0
    50%
        max-height 100%
        //opacity 0
    100%
        opacity 1
