.photo-details
    text-align center
    & > img
        max-width 100%

    .form-default
        margin-top 20px
        width 600px
        padding 20px

    .details
        max-width 60%
        margin 0 auto
        color #555

.tag-label
    line-height 2em
.tag-editor
    font-size 12pt
    text-align left
    position relative
    padding-bottom 5px
    span
        margin 0 7px
        color #ccc
        cursor pointer
        &:hover
            color #fff
    input[type="text"]
        font-size 12pt
        background-color #000
        color #fff
        border-radius 0
        border none
        border-bottom 1px solid #fff
    .suggestions
        position absolute
