.vertical-gallery
    width 1040px
    margin 0 auto
    .photo-thumb
        animation fadein 500ms
        display inline-block
        position relative
        margin 5px
        width 250px
        cursor pointer
        .image
            width 250px
            opacity 0.7
            transition opacity 200ms
            img
                width 250px

        .star
            position absolute
            top 5px
            right 5px
            color #fff

        &:hover .image
            opacity 1

        .title
            padding 5px 10px
            background-color #000
            color #fff
            margin-top -1px
            h4, h5, p
                margin 5px 0
                font-weight normal
            h5
                color #bbb
                &:hover
                    color #fff
            p
                text-align right

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
