header.header-page
    padding 10px 20px
    background-color #000
    height 70px
    position absolute
    top 0
    left 0
    right 0

    .user
        font-size 9pt
        line-height 1.2em
        opacity 0.6
        float right
        color #ccc
        transition opacity 200ms
        .name
            color #fff

        &:hover, &.open
            opacity 1
            cursor pointer
            .caret
                opacity 1

        .avatar
            margin-right 10px
            img
                width 60px
                height 60px
                object-fit cover
                border-radius 50%
        .caret
            margin-left 10px
            opacity 0
            transition opacity 200ms
        .name
            padding 5px 0
            font-size 12pt
            font-weight bold

    .user-menu
        position absolute
        padding 10px
        background-color #000
        font-size 14pt
        left 0
        right 0
        top 70px

        div
            padding 10px 0
            color #ccc
            &:hover
                color #fff
