header.header-page
    margin 10px 0 30px 0
    height 70px

    .user
        font-size 9pt
        line-height 1.2em
        opacity 0.7
        width 300px
        float right
        color $text-lightgray
        transition opacity 200ms

        &:hover
            opacity 1
            cursor pointer
            .name
                color $text-gray
            .caret
                opacity 1

        .avatar
            margin-right 10px
            img
                width 60px
                height 60px
                border-radius 50%
        .caret
            margin-left 10px
            opacity 0
            transition opacity 200ms
        .name
            padding 5px 0
            color $text-lightgray
            font-size 12pt
            font-weight bold
